body {
	background-color: #232323;
	margin: 0;
	font-family: "Avenir";
}

.square {
	width: 30%;
	background-color: purple;
	float: left;
	margin: 1.66%;
	padding-bottom: 30%;
	border-radius: 15%;
	transition: background 0.6s;
}

.squareHidden {
	width: 30%;
	background-color: purple;
	float: left;
	margin: 1.66%;
	padding-bottom: 30%;
	display: none;
}

#container {
	max-width: 600px;
	margin: 20px auto;
}



h1 {
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;	
	line-height: 1.1;
	padding: 20px 0;
}

#selectedColor {
	font-size: 200%;
}

#stripe {
	height: 30px;
	background: white;
	text-align: center;
}

#message {
	width: 20%;
	display: inline-block;
}

.selected {
	color: white;
	background-color: steelblue;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;	
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
}

button:hover {
	color: white;
	background-color: steelblue;
}